{% extends "base.html" %}
{% block content %}
<h1>
    Аварийный доступ
</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.astronaut_id.label }}<br>
        {{ form.astronaut_id(class="form-control") }}
        {% for error in form.astronaut_id.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error}}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.astronaut_password.label }}<br>
        {{ form.astronaut_password(class="form-control", type="password") }}
        {% for error in form.astronaut_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error}}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.capitan_id.label }}<br>
        {{ form.capitan_id(class="form-control")}}
        {% for error in form.capitan_id.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error}}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.capitan_password.label }}<br>
        {{ form.capitan_password(class="form-control", type="password") }}
        {% for error in form.capitan_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error}}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

</form>

{% endblock %}